/0411.py
/aitry.ipynb
/aitry.py
/Canva.lnk
/class.html
/class.txt
/CodeBlocks.lnk
/desktop.ini
/Discord.lnk
/Epson
/FlexClip Video Maker.lnk
/freda.lnk
/GitHub Desktop.lnk
/HyRead 3.lnk
/LINE.lnk
/math.html
/Microsoft Edge.lnk
/Microsoft Store.lnk
/Microsoft Teams (work or school).lnk
/Notion.lnk
/Project
/Scratch 3.lnk
/Visual Studio 2022.lnk
/Visual Studio Code.lnk
/Webex.lnk
/Wondershare Filmora 13.lnk
/Zoom.lnk
/~$Anaconda環境需要使用.docx
/~$就是趨近於某個數的之間.docx
/~$普通物理實驗.docx
/作業1.py
/其他
/剪映专业版.lnk
/媒體播放器.lnk
/學習資料
/家教
/康軒媒體盒.lnk
/影片逐字稿.docx
/手機模擬器
/教材
/數據科學理論與方法
/程式
/程式資料
/組合數學一.pdf
/總務本1.docx
/翰林行動大師.exe
/翰林行動大師.lnk
/英文作業.docx
/英文錄影檔
/課堂練習
/資料結構
/音樂